<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="#"> </a>

    <!-- Burger visible en móvil -->
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarMenu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="button-48 navbar-item" href="#top">Inicio</a>
      <a class="button-48 navbar-item" href="#about-me">Sobre mi</a>
      <a class="button-48 navbar-item" href="#skills">Habilidades</a>
      <a class="button-48 navbar-item" href="#projects">Proyectos</a>
      <a class="button-48 navbar-item" href="#contact">Contacto</a>
    </div>
  </div>
</nav>
