<header>
  <!-- Portada -->
  <app-home></app-home>
</header>
<content>
  <div class="container">
    <app-portfolio></app-portfolio>
    <!-- Sección de proyectos -->
    <app-about></app-about>
    <!-- Sección de 'Sobre mí' -->
    <app-contact></app-contact>
    <!-- Formulario de contacto -->
  </div>
</content>
<footer class="mt-auto justify-content-end">
  <!-- Contenido del pie de página -->
  <p class="text-center py-3">
    © {{ this.getYear }} Héctor Martínez. Todos los derechos reservados.
  </p>
</footer>
