<section
  id="top"
  class="hero is-fullheight-with-navbar hero-background"
  style="position: relative; overflow: hidden"
>
  <!-- Líneas de código aleatorias -->
  <div
    *ngFor="let line of codeLines"
    class="code-line"
    [ngStyle]="{ top: line.top, left: line.left, animationDelay: line.delay }"
  >
    {{ line.text }}
  </div>

  <div class="hero-body">
    <div class="container content has-text-centered">
      <h1 class="title is-2-mobile is-1-tablet has-text-white">Héctor Martínez</h1>
      <h2 class="subtitle is-4-mobile is-3-tablet has-text-white">{{ 'hero.role' | translate }}</h2>
      <a
        class="button-49 is-medium m-5"
        [routerLink]="['/']"
        fragment="contact"
        [attr.data-label]="'hero.hireCta' | translate"
        (click)="saveSection('contact')"
      >
        {{ 'hero.hireCta' | translate }}
      </a>
      <a
        class="button-49 is-medium m-5"
        routerLink="/about-me-details"
        [attr.data-label]="'hero.cvCta' | translate"
      >
        {{ 'hero.cvCta' | translate }}
      </a>
    </div>
  </div>
</section>
