<div class="video-container" id="home">
  <video autoplay loop muted playsinline>
    <source
      media="(min-width: 768px)"
      src="/assets/videos/hello.mp4"
      type="video/mp4"
    />
    <source
      src="/assets/videos/hello_mobile.mp4"
      media="(max-width: 769px)"
      type="video/mp4"
    />
    Tu navegador no soporta videos en HTML5.
  </video>

  <div class="content">
    <!-- Botón de menú para móviles, visible solo en pantallas pequeñas -->
    <button class="menu-toggle d-md-none" (click)="toggleMenu()">☰</button>

    <!-- Menú -->
    <nav class="menu-fijo text-white p-3" [ngClass]="{ open: isMenuOpen }">
      <div class="menu-items">
        <ng-container *ngFor="let menuItem of menu">
          <a
            class="btn btn-light text-primary fw-bold rounded-pill"
            [href]="menuItem.link"
          >
            {{ menuItem.name }}
          </a>
        </ng-container>
      </div>
    </nav>
  </div>
</div>
